<html>
    <head>
        <title>
            Yoda - Docker made easier            
        </title>
        <link rel="stylesheet" type="text/css" href="css/yoda.css">
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>    </head>
    <body>
        <div class="yoda-bg"></div>
        <div class="content custom-font">
            <h1>Yoda</h1>
            <p>
                By configuring a simple YAML configuration file, you can easily manipulate docker containers needed for your projects. Instead of writing
                bash scripts over and over. Let Yoda do the tedious work for you. A few features include:
            </p>
            <ul>
                <li>Docker cli wrapper, meaning you can use bash scripting just about everywhere!</li>
                <li>Build, pull, remove, containers and <b><i>all</i></b> of their dependancies.</li>
                <li>Many ways to get up and running quickly, by summoning configuration files that others have shared!</li>
                <li>Have a great configuration file? Share it with others!</li>
                <li>Recursively seek out .yoda configuraiton files, and try to start containers. Excellent for dev enviornments where you have multiple projects!</li>
                <li>Need to perform different actions based on differnet enviornments? You can do it all within the same configuration file.</li>
            </ul>
            
            <p>
                And a few more goodies ...
            </p>
            
            <h2>Screenshots</h2>
            <a href="images/yoda_seek.png" target="_blank"><img src="images/yoda_seek.png"></a>            
            <a href="images/3__tmux.png" target="_blank"><img src="images/3__tmux.png"></a>                        
            <a href="images/3__tmux_summon.png" target="_blank"><img src="images/3__tmux_summon.png"></a>
            <a href="images/3__tmux_and_screenshots.png" target="_blank"><img src="images/3__tmux_and_screenshots.png"></a>
            
            <h2>ScreenCast</h2>
            <a href="https://www.youtube.com/watch?v=jBvG8wOmAdU"><img src="http://img.youtube.com/vi/jBvG8wOmAdU/0.jpg"></a>
        </div>
        <a href="https://github.com/kcmerrill/yoda"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>                
    </body>
</html>