html {
    padding:0px;
    margin:0px;
    height:0px;
    height:100%;
    width:100%;
}
body {
    padding:0px;
    margin:0px;
    background-color:#D8D8D8;
}
.speaking-text {
    font-family: 'Kaushan Script', cursive;
}
.droid-text {
    font-family: 'Droid Sans', sans-serif;
}
.bolded-text {
    font-weight:bold;
}
.fake-button {
    padding: 10px 20px 10px 20px;
    background-color:#428BCA;
    color:white;
    text-decoration: none;
    font-size:20px;
}
.blue-bg {
    background-color:#384755;
}
.green-bg {
    background-color:#60846E;
}
.green-text {
    color:#60846E;
}
.blue-text {
    color:#384755;
}
.bubble .from {
    font-size:12px;
    font-weight:bold;
}
.clear {
    clear:both;
}
.pull-left {
    float:left;
}
.pull-right {
    float:right;
}
.header {
    height:75px;
    background-color:#161922;
    width:100%;
}
.header .menu {
    width:1100px;
    margin-left:auto;
    margin-right:auto;
    color:white;
    font-size:40px;
    padding-top:10px;
}
.parfait {
    margin-left:auto;
    margin-right:auto;
    padding:30px;
    width:1100px;
    font-size:20px;
}
.hero .thoughts {
    float:left;
    font-size:50px;
    padding-right:20px;
}
.hero .thoughts a {
   margin-left:auto;
   margin-right:auto;
   width:100px;
}
.hero .thoughts .download {
    width:50px;
    margin-left:auto;
    margin-right:auto;
}
.hero .thoughts .blurb-text {
    font-size:15px;
    width:400px;
}
.hero .thoughts .blurb-text div {
    padding-top:20px;
}
.hero .thoughts .features i{
    font-size:30px;
}
.hero .yoda {
    width:300px;
    float:left;
}
.hero .docker{
    float:left;
    width:175px;
}
.compliments .title{
    font-size:50px;
    color:white;
    padding-bottom:10px;
}
.configuration .title{
    font-size:50px;
    padding-bottom:10px;
    color:white;
}
.configuration .intro {
    color:white;
    size:12px;
    padding:10px;
    width:900px;
}
.configuration .line-by-line {
    width:225px;
    font-size:12px;
    color:white;
}
.configuration .line-by-line div {
    padding: 5px 0px 5px 0px;
}
.commands .title{
    font-size:50px;
    padding-bottom:10px;
}
.commands .intro{
    margin-bottom:40px;
    width:900px;
}
.commands .command span {
    padding:10px;
    background-color:#EDEAEA;
    margin-bottom:10px;
}
.commands .command div{
    padding-top:20px;
}

